<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.plt.product.mapper.InsuranceCompanyRelaMapper">
  <resultMap id="BaseResultMap" type="com.jt.plt.product.entity.InsuranceCompanyRela">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rela_id" jdbcType="INTEGER" property="relaId" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="rela_type" jdbcType="VARCHAR" property="relaType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <resultMap id="VO" type="com.jt.plt.product.vo.AcceptInsuranceInfoVO">
  	<id column="rela_id" jdbcType="INTEGER" property="relaId" />
  	<id column="attribute_value_id" jdbcType="INTEGER" property="attributeValueId" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="rela_type" jdbcType="VARCHAR" property="relaType" />
    <result column="attribute_value_code" jdbcType="VARCHAR" property="attributeValueCode" />
    <result column="attribute_value_name" jdbcType="VARCHAR" property="attributeValueName" />
    <result column="attribute_values" jdbcType="VARCHAR" property="attributeValues" />
  </resultMap> 
  
  <select id="findAcceptInsuranceInfoVOById" resultMap="VO">
  	SELECT icr.rela_id,cra.attribute_value_id,icr.product_code,icr.rela_type,cra.attribute_value_code,cra.attribute_value_name,icr.company_id,icr.company_name,cra.attribute_values
	FROM t_company_rela_attribute cra , t_insurance_company_rela icr
	WHERE cra.rela_id = icr.rela_id 
	AND icr.product_code = cra.product_code 
	AND icr.status = '1' AND cra.status='1'
	AND icr.product_code = #{productCode}
	ORDER BY icr.rela_type
  </select>
</mapper>