<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.plt.product.mapper.LiabilityLimitMapper">
  <resultMap id="BaseResultMap" type="com.jt.plt.product.entity.LiabilityLimit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id"></id>
    <result column="liability_limit_code" jdbcType="VARCHAR" property="liabilityLimitCode" />
    <result column="liability_limit_name" jdbcType="VARCHAR" property="liabilityLimitName" />
    <result column="liability_limit_desc" jdbcType="VARCHAR" property="liabilityLimitDesc" />
    <result column="insurance_liability_code" jdbcType="VARCHAR" property="insuranceLiabilityCode" />
    <result column="insurance_liability_name" jdbcType="VARCHAR" property="insuranceLiabilityName" />
    <result column="limit_begin_date" jdbcType="TIMESTAMP" property="limitBeginDate" />
    <result column="limit_end_date" jdbcType="TIMESTAMP" property="limitEndDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />

  </resultMap>
  
  <select id="selectByLiabilityLimitCode" parameterType="string" resultMap="BaseResultMap">
         SELECT
          id,
          liability_limit_code,
          liability_limit_name,
          liability_limit_desc,
          insurance_liability_code,
          insurance_liability_name,
          mark
      FROM
          t_liability_limit
      WHERE
          liability_limit_code = #{liabilityLimitCode}
  </select>
</mapper>