<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.plt.product.mapper.ProductRiskRelMapper">
  <resultMap id="BaseResultMap" type="com.jt.plt.product.entity.ProductRiskRel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_code" jdbcType="INTEGER" property="productCode" />
    <result column="risk_code" jdbcType="VARCHAR" property="riskCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="risk_flag" jdbcType="VARCHAR" property="riskFlag" />
    <result column="risk_name" jdbcType="VARCHAR" property="riskName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <select id="selectByProductCode" resultMap="BaseResultMap">
  	SELECT 
		id,
		product_code, 
		risk_code,
		product_name,
		risk_flag,
		risk_name,
		create_time
	FROM 
		product_risk_rel
	WHERE 
		product_code=#{productCode}
  </select>
  <update id="deleteByProductCode">
  	DELETE 
	FROM product_risk_rel
	WHERE product_code = #{productCode}
  </update>
  <select id="selectAddRiskByProductCode" resultType="com.jt.plt.product.dto.company.AddRisk" parameterType="string">
  	SELECT r.risk_code,r.risk_name,r.risk_desc 
	FROM product_risk_rel p 
	LEFT JOIN t_risk_info r ON p.risk_code = r.risk_code AND r.risk_flag = 'A'
	WHERE p.product_code = #{productCode}
  </select>
</mapper>